

<footer class="footer bg-dark text-white pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>About Us</h5>
                <p>Learn more about our company, mission, and values.</p>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Contact Us</a></li>
                    <li><a href="#" class="text-white">Returns</a></li>
                    <li><a href="#" class="text-white">Shipping</a></li>
                    <li><a href="#" class="text-white">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                    <li><a href="#" class="text-white">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Follow Us</h5>
                <div class="d-flex">
                    <a href="#" class="text-white me-3"><i class="fa fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fa fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p>&copy; 2024 PkCom. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>